<div class="jumbotron">
  <h2>Hiptime! Free and easy!</h2>
  <br>
  <h4>Trusted by Millions. Hiptime is the best online management app!</h4>
  <br>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
</div>