<div class="col-md-8 col-md-offset-2">
  <% if user_signed_in? %>
    <% @tasks.each do |task| %>
      <h2><%= link_to task.title, task %></h2>
      <p><%= task.description %></p>
    <% end %>
  <% else %>
      <%= render 'welcome_page' %>
  <% end %>
</div>
