<div class="col-md-10 col-md-offset-1">
  <h2><%= @task.title %></h2>
  <p><%= @task.description %></p>  

  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Back", root_path %>
  </div>
</div>